@font-face {
    font-family: SanJiPoMoTi;
    src: url('https://fast.dooring.cn/system/fonts/三极泼墨体.ttf');
}

@font-face {
    font-family: YanShiXiaXingKaiTi;
    src: url('https://fast.dooring.cn/system/fonts/演示夏行楷.ttf');
}

@font-face {
    font-family: YanShiChunFengKai;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/演示春风楷/演示春风楷.ttf')

}

@font-face {
    font-family: HongMengBanShuSC;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/演示春风楷/鸿雷板书简体-Regular.ttf')

}

@font-face {
    font-family: HONORSansCN-Thin;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/源流明体/HONORSansCN-Thin.ttf')

}

@font-face {
    font-family: YangRenDongZhuLinTi-Regular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/杨任东竹石体/杨任东竹石体-Regular.ttf')

}

@font-face {
    font-family: YouAiXinHeiCN-Regular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/有爱新黑体/有爱新黑CN-Regular.ttf')

}

@font-face {
    font-family:PangMenZhengDao-Regular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/旁门正道粗书体/庞门正道粗书体-正式版.ttf')

}


@font-face {
    font-family:ChillJinshuSongGBKCompactRegular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/寒蝉锦宋书/ChillJinshuSongGBKCompactRegular.otf')

}


@font-face {
    font-family:YouSheBiaoTiYuan;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/优设标题圆/优设标题圆.otf')

}


@font-face {
    font-family:YunFengFeiYunTi;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/云峰云飞体/云峰飞云体.ttf')

}

@font-face {
    font-family:SanJiXingKaiRegular-Bold;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/三极行楷简体/三极行楷简体-粗.ttf')

}

@font-face {
    font-family:HongLeiXingShuJianTi;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/鸿雷行书简体/鸿雷行书简体.otf')
}

@font-face {
    font-family:SourceHanSerifCN-Regular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/思源宋体/SourceHanSerifCN-Regular.otf')
}

@font-face {
    font-family:SourceHanSansCN-Regular;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/思源黑体/SourceHanSansCN-Regular.otf')
}

@font-face {
    font-family:GenShinGothic-P-Normal;
    src: url('https://fast.dooring.cn/system/fonts/简体字体/思源真黑体/GenShinGothic-P-Normal.ttf')
}





@font-face {
    font-family:JinNanMaiYuanTi;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/荆南麦圆体/荆南麦圆体.otf')

}


@font-face {
    font-family:HuXiaoBoSaoBaoTi;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/胡晓波骚包体/胡晓波骚包体.otf')

}

@font-face {
    font-family:KangKangTi;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/素材集市康康体/素材集市康康体3.0.ttf')

}

@font-face {
    font-family:MaoKengShiJinHei;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/猫啃什锦黑/猫啃什锦黑.otf')

}

@font-face {
    font-family:BiaoXiaoZhuLongZhuTi;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/标小智龙珠体/标小智龙珠体.ttf')

}

@font-face {
    font-family:KuaiKanShiJieTi;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/快看世界体/kuaikanshijieti.otf')

}

@font-face {
    font-family:XiaolaiMonoSC-Regular;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/小赖字体/XiaolaiMonoSC-Regular.ttf')

}

@font-face {
    font-family:XiaoNaiLao-Regular;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/小可奶酪体/小可奶酪体商用免费@庆科字体.ttf')

}

@font-face {
    font-family:LiuHuanKaTong-Regular;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/刘欢卡通手书/刘欢卡通手书1.07.ttf')

}

@font-face {
    font-family:Nishiki-teki;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/Nishiki-teki/nishiki-teki.ttf')

}

@font-face {
    font-family:RubikPuddles-Regular;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/Rubik-Puddles/RubikPuddles-Regular.ttf')

}

@font-face {
    font-family:AaHouDiHei;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/Aa厚底黑/Aa厚底黑.ttf')

}
@font-face {
    font-family:Muyao-Softbrush;
    src: url('https://fast.dooring.cn/system/fonts/卡通字体/沐瑶软笔手写体/Muyao-Softbrush.ttf')

}





